venv/
__pycache__/
*.pyc
.git/
.env
db.sqlite3
*.md
!README_PRODUCTION.md
!DOKPLOY_CONFIG.md
*.html
ForexPlatform.postman_collection.json
.gitignore
node_modules/
.dockerignore
*.log
media/
staticfiles/
.env.example
Procfile
nixpacks.toml
railway.toml
render.yaml
test_api.ps1
