venv/
__pycache__/
*.pyc
.git/
.env
db.sqlite3
*.md
*.html
ForexPlatform.postman_collection.json
.gitignore
node_modules/
.dockerignore
*.log
media/
staticfiles/
.env.example
Procfile
nixpacks.toml
railway.toml
render.yaml
docker-compose.dokploy.yml
test_api.ps1
API_DOCUMENTATION.html
DEVELOPER_IMPLEMENTATION_GUIDE.md
DOCUMENT_POUR_specifiquer.html
EMAIL_BOSS.html
GUIDE_TEST_API.html
GUIDE_TEST_API.md
KPI_DETAILED_GUIDE.md
KPI_EXECUTIVE_SUMMARY.md
KPI_TRACKING_TEMPLATE.md
MECHANISME_TAUX_EN_TEMPS_REEL.html
SPECIFICATION.md
